<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <link rel="stylesheet" href="CSS/Login.css" />

    <link href="_content/Syncfusion.Blazor.Themes/material3-dark.css" rel="stylesheet" />

    <HeadOutlet />
</head>
<body>
    <Routes />

    <script src="_content/Syncfusion.Blazor.Core/scripts/syncfusion-blazor.min.js" type="text/javascript"></script>
    <script src="_framework/blazor.web.js"></script>
</body>
</html>