@using Microsoft.AspNetCore.Components.Web
@using Yuta.FactoryOps.Client

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <link rel="stylesheet" href="css/Login.css" />
    <HeadOutlet @rendermode="InteractiveWebAssembly" />
</head>
<body>
    <Routes @rendermode="InteractiveWebAssembly" />

    <script src="_framework/blazor.web.js"></script>
</body>
</html>